@{
    ViewBag.Title = "PULL REPORT";
}
@using ACCBILLING_NOTE.Models
<style>
    .scaled {
        transform: scale(0.8); /* Equal to scaleX(0.7) scaleY(0.7) */
    }

    #printableArea {
        font-family: 'Browallia New';
    }

    #textBank {
        width: 300px;
        word-break: normal;
    }

    .detec {
        height: 40px !important;
    }

        .detec:hover {
            /*background-color:#044CC5;*/
            border-left: 10px solid #F2F2F2;
            border-right: 10px solid #F2F2F2;
        }
</style>
<div class="container-fluid">
    <div class="row">


       

        <div id="editor">@ViewBag.getIn</div>

    

    </div>

</div>





