@{
    ViewBag.Title = "PULL REPORT";
}
@using ACCBILLING_NOTE.Models
<style>

    .scaled {
        transform: scale(0.75); /* Equal to scaleX(0.7) scaleY(0.7) */
    }
    #printableArea{

        font-family:'Browallia New';
    }
      .detec{
          height:40px !important;
    }
    .detec:hover{
/*background-color:#044CC5;*/
        border-left:10px solid #F2F2F2;
        /*border-right:10px solid #F2F2F2;*/
      
    }
</style>
<div class="container-fluid">
    <div class="row">
     @if (ViewBag.calco == 0)
        {
        @Html.Partial("_ExPartial")
        }
     else if (ViewBag.calco == 1)
     {
        @Html.Partial("_Ex1Partial")
     }
    </div>
</div>

<script>

    function printDiv(id) {
        var printContents = document.getElementById(id).innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
    }


</script>

<script>

    function editCur(r) {

        var i = r.parentNode.rowIndex;

        var table = document.getElementById("tableOc");
        var tableP = document.getElementById("tableOP");

        var e = table.rows[i].cells[2].innerText;

        var al = prompt('Would you like to change currency?', e)

        var af = table.rows[i].cells[2].innerHTML = al;
        var changeDue = tableP.rows[i].cells[2].innerHTML = al;

    }
</script>

<script>

    function editDate(r) {

        var i = r.parentNode.rowIndex;

        var table = document.getElementById("tableOc");
        var tableP = document.getElementById("tableOP");

        var e = table.rows[i].cells[3].innerText;

        var al = prompt('Would you like to change currency?', e)

        var af = table.rows[i].cells[3].innerHTML = al;
        var changeDue = tableP.rows[i].cells[3].innerHTML = al;

    }
</script>
<script>

    function changeOriginal() {

        var formOri = $("#selectOriginal").val();

        $("#textOriginalP").text(formOri);
        $("#textOriginal").text(formOri);


    }
</script>



    <script>

    document.onkeydown = function (e) {
        // keycode for F5 function
        if (e.keyCode === 116) {
            return false;
        }
        if (e.Button == MouseButtons.Right) {
            return false;
        }

    };

    </script>

<script type="text/javascript">
    var message = "Function Disabled!";
    function clickIE4() {
        if (event.button == 2) {
            alert(message);
            return false;
        }
    }
    function clickNS4(e) {
        if (document.layers || document.getElementById && !document.all) {
            if (e.which == 2 || e.which == 3) {
                alert(message);
                return false;
            }
        }
    }
    if (document.layers) {
        document.captureEvents(Event.MOUSEDOWN);
        document.onmousedown = clickNS4;
    }
    else if (document.all && !document.getElementById) {
        document.onmousedown = clickIE4;
    }
    document.oncontextmenu = new Function("return false")
</script>  